@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --tamano-de-la-fuente:  24px;
    --fuente-inter: "Inter", sans-serif;
    --color-fondo:  #D8DFE8;
    --color-azul: #0A3871;
    --color-gris-claro:#495057;
    --color-gris-oscuro:#343A40;
}

body {
    font-family: var(--fuente-inter);
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    color: var(--color-azul);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 2.5rem 5.25rem;
    background-color: var(--color-fondo);
    display: flex;
}


main {
    flex: 1;
    display: flex;
}

.contenedor {
    flex: 1;
    display: flex;
    gap: 1em; 
    padding: 2.5rem;
    justify-content: space-evenly;
}

.contenedor button{
    padding: 24px;
    border-radius: 24px;
    width: 328px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s all; 
}

.contenedor button:active{ 
    transform: scale(0.98); 
} 


.seccion-1, .seccion-2 {
    display: flex;
    flex-direction: column;
}

.seccion-1{
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    
}

.seccion-1 textarea {
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    background: none; 
    border: none; 
    outline: none; 
    font-size: 2rem;
    color: var(--color-azul);
    resize: none;
    font-family: var(--fuente-inter);
}

.seccion-1 textarea::placeholder {
    color: var(--color-azul);
}

.parte-baja1 p{
    color: var(--color-gris-claro);
    font-size: 0.75rem;
}

.seccion-1 .botones {
    display: flex;
    gap: 1.5rem;
    
}

.boton-1 {
    background-color: var(--color-azul);
    color: white;
    border: none;
    font-family: var(--fuente-inter);
}

.boton-2,  .seccion-2 button{
    border: 2px solid var(--color-azul);
    color: var(--color-azul);
    background-color: white;
    font-family: var(--fuente-inter);
}

.seccion-2 {
    background-color: #f1f1f1;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 32px;
    align-items: center;
    padding: 2rem;
    justify-content: center;
}
.seccion-2 img {
    width: 80%;
}

.seccion-2 button {
    display: none;
}

.seccion-2 button.clicked {
    background-color: var(--color-azul);
}

#resultado {
    font-size: var(--tamano-de-la-fuente);
    font-weight: 600;
    color: var(--color-gris-oscuro);
    word-wrap: break-word;
}

.seccion-2 p {
    color: var(--color-gris-claro);
    margin: 1rem;
    text-align: center;
}

footer {
    background-color: var(--color-azul);
    color: white;
    text-align: center;
    width: 100%;
    bottom: 0;
}

@media (max-width: 1024px) {
    header{
        padding: 3rem 1.5rem;
    }
    .contenedor {
        display: flex;
        flex-direction: column;
    }

    .seccion-1 {
        padding: 0;
        margin: 0 auto auto auto;
        height: 100%;
    }

    .seccion-2 {
        max-width: 100%;
    }


    .seccion-2 img {
        display: none;
    }
}

@media (max-width: 450px) {
    body {
        height: 150vh;
    }
    header{
        padding: 0;
    }

    .contenedor{
        padding: 1rem;
    }

    .contenedor button {
        width: 343px;
    }

    .botones{
        flex-direction: column;
    }


    .seccion-2 button {
        width: 279px;
    }

}